* {
  box-sizing: border-box;
}

hr {
  margin: 2rem 0;
}

body {
  background-color: #FAFAFA;
  color: #333333;
}

.app {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 6rem 2rem;
  max-width: 600px;
}

.title {
  font-size: 2.25rem;
}

.form {
  display: flex;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: white;
}

.input {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1.25rem;
}

.submit {
  display: block;
  align-self: center;
  border: none;
  background-image: url('/enter.svg');
  background-color: white;
  background-size: 32px;
  background-position: right center;
  background-repeat: no-repeat;
  width: 2rem;
  height: 1.5rem;
  padding: 1rem;
  margin-right: 0.5rem;
  outline: none;
}

.priorities {
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.priority {
  padding: 1rem;
  margin: 1.5rem 0;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.priority:first-child {
  margin-top: 0;
}

.priroity:last-child {
  margin-bottom: 0;
}

.priority__text {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
  background-color: #70C1B3;
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem;
  color: white;
  vertical-align: middle;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.button__text {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  height: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

@media (min-width: 500px) {
  .title {
    font-size: 3.5rem;
  }
}
